body{
  margin: 0;
  text-align: center;
  font-family: 'Sanchez', serif;
  font-size: 24px;
  background-color: #d4f8e8;
}

.top-cloud{
  position: relative;
  left: 200px;
}

h1{
  margin: 0 auto ;
  font-family: 'Sacramento', cursive;
}

.mono{
  font-family: monospace;
}

.top {

  padding-top: 50px;
}

.btm-cloud{
  position: absolute;
  left: 30%;

}

.profile-detail{
width: 50%;
font-size: 14px;
margin: auto;
}

.star{
  text-align: left;
}
